{% extends "blog/base.html" %}

{% block title %}Create Post{% endblock %}

{% block content %}
    <h1>Add a new post</h1>
    <a href="{% url 'blog:post_list' %}">Back to Posts</a>
    <form action="." method="post">
        {{ post_form.title }}<br>
        {{ post_form.slug }}<br>
        {{ post_form.author }}<br>
        {{ post_form.body }}<br>
        {{ post_form.publish }}<br>
        {{ post_form.status }}<br>
        {{ post_form.tags }}<br>

        {% csrf_token %}
        <p><input type="submit" value="Add post"></p>
    </form>

{% endblock %}